{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Gallery Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Our Gallery</span></p>
            <h1 class="mb-4">Mbezibwa The Great Academic Platform Gallery</h1>
        </div>
        <div class="row">
            <div class="col-12 text-center mb-2">
                <ul class="list-inline mb-4" id="portfolio-flters">
                    <li class="btn btn-outline-primary m-1 active" data-filter="*">All</li>
                    <li class="btn btn-outline-primary m-1" data-filter=".first">books</li>
                    <li class="btn btn-outline-primary m-1" data-filter=".second">Lesson plan</li>
                    <li class="btn btn-outline-primary m-1" data-filter=".third">Schemes of work</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            <script>
                $(document).ready(function() {
                    var $grid = $('.portfolio-container').isotope({
                        itemSelector: '.portfolio-item',
                        layoutMode: 'fitRows'
                    });
            
                    // Filter items when filter link is clicked
                    $('#portfolio-flters li').on('click', function() {
                        var filterValue = $(this).attr('data-filter');
                        $grid.isotope({ filter: filterValue });
                        $('#portfolio-flters li').removeClass('active');
                        $(this).addClass('active');
                    });
                });
            </script>
            
            {% for item in gallery_items %}
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item {{ item.category }}">
                <div class="position-relative overflow-hidden mb-2">
                    <img class="img-fluid w-100" src="{{ item.image.url }}" alt="{{ item.category }}">
                    <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                        <a href="{{ item.image.url }}" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
</div>
<!-- Gallery End -->

{% endblock %}
