{% extends 'base.html'%}

{% load static %}
{% block content %}

    <!-- Header Start -->
    <div class="container-fluid px-0 px-md-5 mb-5" style="background-color: rgb(201, 209, 209);">
        <div class="row align-items-center px-3">
            <div class="col-lg-6 text-center text-lg-left">
                <h3 class=" mb-4 mt-5 mt-lg-0" style="color: rgb(255, 0, 0);">Mbezibwa The Great Academic Platform</h3>
                <h1 class="display-3 font-weight-bold " style="color: blue;">Empowering the Future Through Quality Education</h1>
                <p class="text-black mb-4">At Mbezibwa The Great Academic Platform (MTGAP), we are committed to transforming education by providing exceptional academic support to primary school pupils across Tanzania. Established in Dodoma City, Tanzania – Mainland, in January 2024, our mission is to enhance learning experiences, 
                    improve academic performance, and build a strong foundation for future leaders.</p>
                <a href="{% url 'about' %}" class="btn btn-secondary mt-1 py-3 px-5">See More</a>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <img class="img-fluid mt-5" src="{% static 'img/header.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Header End -->



    <!-- Facilities Start -->
    <div class="container-fluid pt-5">
        <div class="container pb-3"> <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Popular Services</span></p>
          
            <p class="text-black bg-light shadow-sm border-top rounded mb-4 m-0">MTGAP provides a wide range of professional educational services tailored to meet the needs of pupils, teachers, and academic institutions..</p>
        </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="fas fa-file-alt h1 text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>1. Examination Services</h4>
                            <p class="m-0">We design and provide high-quality assessments to help students prepare for national and internal school exams, including:
                                <b>Monthly Exams, Special Exams, Mock Exams, Joint Exams, Weekly & Pre-National Exams</b>
                            </p>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="fas fa-school h1 text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>2. Internal Examination Development</h4>
                            <p class="m-0">We assist schools in setting standardized and high-quality internal examinations for different levels: 
                                Nursery (Baby Class, Middle Class, Top Class), Primary (Grades 1, 2, 3, 4, and beyond)</p>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="fas fa-book h1 text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>3. Academic Book Supply</h4>
                            <p class="m-0">We provide essential learning materials and academic books to support both teachers and pupils in achieving better results.</p>
                        </div>
                    </div>
                </div>
               
            </div>
            <a href="{% url 'service' %}" class="btn btn-secondary mt-1 py-3 px-5">See More</a>
        </div>
    </div>
    <!-- Facilities Start -->


    <!-- Class Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Popular Past papers</span></p>
                <h1 class="mb-4">Boost confidence before exams</h1>
                <p>Find and download past exam papers for Standard 1 to Standard 7.
                     These past papers will help students revise, practice, and prepare for their exams more effectively.</p>
                     <p>Click on the <b>Download</b> button next to each past paper to get a PDF version.</p>
            </div>
            <div class="row">

                      {% for i in past_papers %}
                <div class="col-lg-4 mb-5">
                    <div class="card border-0 bg-light shadow-sm pb-2">
                        <img class="card-img-top mb-2" src="{{i.cover_image.url}}" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title">{{i.subject}}</h4>
                            <p class="card-text">{{i.description}}</p>
                        </div>
                        <div class="card-footer bg-transparent py-4 px-5">
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Class</strong></div>
                                <div class="col-6 py-1">{{i.standard}}</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Year</strong></div>
                                <div class="col-6 py-1">{{i.year}}</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Time</strong></div>
                                <div class="col-6 py-1">{{i.time_uploaded}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 py-1 text-right border-right"><strong>Price</strong></div>
                                <div class="col-6 py-1">Free</div>
                            </div>
                        </div>
                        <!-- <a href="{{i.pdf_file.url}}" class="btn btn-primary px-4 mx-auto mb-4">Download</a> -->
                        <a href="https://api.whatsapp.com/send?phone=255712393104&text=Hello,%20I%20visited%20your%20website%20and%20I%20am%20interested%20in%20accessing%20past%20papers%20for%20exams.%20Could%20you%20kindly%20assist%20me%20in%20obtaining%20them?%20Thank%20you%20in%20advance."class="btn btn-primary px-4 mx-auto mb-4">Download</a>

                    </div>
                </div>

                {% endfor %}

            </div>
            <a href="{% url 'pastpaper' %}" class="btn btn-primary mt-4 py-2 px-4">See More</a>
        </div>
    </div>
    <!-- Class End -->

    <!-- Team Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Our Teachers</span></p>
                <h1 class="mb-4">Meet Our Teachers</h1>
            </div>
            <div class="row">
               
                {% for i in teacher %}

                <div class="col-md-6 col-lg-3 text-center team mb-5">
                    <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                        <img class="img-fluid w-100" src="{{i.image.url}}" alt="" >
                        <div
                            class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                                href="{{i.twitter_link.url}}"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                                href="{{i.facebook_link.url}}"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;"
                                href="{{i.linkedIn.url}}"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h4>{{i.full_name}}</h4>
                    <i>{{i.subject}}</i>
                </div>

             {% endfor %}
              

            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container p-0">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Testimonial</span></p>
                <h1 class="mb-4">What Parents Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                 {% for i in testimon %}
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{{i.image.url}}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">{{i.client_name}}</h5>
                    <p>{{i.profession}}</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">{{i.discription}}</p>
                    </div>
                </div>

                {% endfor %}
                </div>
               
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



    {% endblock %}